h1{
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.box{
    text-align: center;
    background-color: rgb(243, 243, 243);
    height: 91vh;
    overflow: "auto";
  }
  .content{
    display: inline-block;
    width: 90%;
  }
  .semester{
    font-size: 35px;
    font-weight: bold;
  }
  .index{
    text-align: left;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 10px;
    font-weight: bold;
  }
  .courseName{
    text-align: center;
    margin-left: 2%;
    font-size: 17px;
    font-weight: bold;
  }
  .professorName{
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
    font-weight: bold;
  }

  .cardbox{
    border-radius: 1px;
    display: inline-block;
    width: 90%;
    height: 130px;
    margin-bottom: 2%;
  }
  .cardbox:hover{
    box-shadow: 2px 3px 2px rgba(111, 54, 54, 0.247);
    cursor:pointer;
    text-decoration: underline;
  }
  .cardline{
    float: left;
    margin-top: 0;
    background-color: rgb(82, 82, 94);
    width: 12px;
    height: 100%;
  }
  
  .menuLink{
    font-size: 18px;
    color: black;
  }
  .menuLink:hover{
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

.logout{
    width : 15vw;
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin-left : 65vw;
    margin-bottom : 3vh;
    overflow : "auto";
}

.sortCourseBt{
    width : 18vw;
    height : 5vh;
    text-align: center;
    background-color: rgb(243, 243, 243);
    overflow:"auto";
}

.searchOption{
    width : 18vw;
    height : 5vh;
}

.courseSearch{
    width : 18vw;
    height : 5vh;
}
.searchField{
    width : 25vw;
    height : 5vh;
}
.courseCount{
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
}

table.pageCount{
    margin : 20px auto 10px auto;
}

/* td.active{
    border : solid 3px #800000	;
} */
button.page-link{
    border : 0;
    outline : 0;
    background-color: white;
    text-align : center;
    color : #572c2c;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 3rem;
    margin : 5%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

button.page-link:hover{
    font-weight: bold;
    text-decoration: underline;
}

