.logo{
    width : 40%;
    height : 40%;
    margin-top : 4vh;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}
.btn-register{
  font-size : 0.8rem;
}
.box{
    text-align: center;
    background-color: rgb(243, 243, 243);
    height: 91vh;
    overflow: "auto";
  }
.content{
    display: inline-block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.showCourse{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
  .semester{
    font-size: 35px;
    font-weight: bold;
  }
  .index{
    text-align: left;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 10px;
    font-weight: bold;
  }
  .courseName{
    text-align: center;
    margin-left: 2%;
    font-size: 17px;
    font-weight: bold;
  }
  .professorName{
    text-align: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 15px;
    font-weight: bold;
  }

  .menuLink{
    font-size: 18px;
    color: black;
  }
  .menuLink:hover{
    font-size: 18px;
    color: black;
    font-weight: bold;
  }

.logout{
  font-size: 13px;
    width : 10vw;
    text-align: center;
    background-color: rgb(243, 243, 243);
    margin-left : 65vw;
    overflow : "auto";
}

.sortCourseBt{
  margin: 0.7rem;
  padding: 0.5rem 0.5rem;
  width : 16vw;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: rgb(243, 243, 243);
  display: inline-block;
  overflow:"auto";
}

.searchOption{
    width : 18vw;
    height : 5vh;
    margin : 10px;
}

.courseSearch{
    width : 18vw;
    height : 5vh;
    margin : 10px;
}
.searchField{
    width : 25vw;
    height : 5vh;
}
.courseCount{
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
}

table.pageCount{
    margin : 20px auto 10px auto;
}


button.page-link{
    border : 0;
    outline : 0;
    background-color: white;
    text-align : center;
    color : #572c2c;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 3rem;
    margin : 5%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

button.page-link:hover{
    font-weight: bold;
    text-decoration: underline;
}

