.sortSpan{
  margin-right : auto;
  margin-top : 3vh;
  font-weight : 700;
}

.question{
  width : 60px;
  height :60px;
  margin-top: 3vh;
  margin-left : 70vw;
  display : "flex";
  cursor: pointer;
}

.adminQuestion{
  margin-left : 10px;
  width : 40px;
  height :40px;
  display : "flex";
  cursor: pointer;
}

.logodiv{
  display : "flex";
}
.logo{
    width : 30%;
    height : 30%;
    margin-top : 4vh;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    cursor: pointer;
}
.btn-register{
  font-size : 0.8rem;
}

.adminContent{
    display: inline-block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.showCourse{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  box-shadow: 3px 2px 1.5px;
}
.divRegister{
  font-size : 13px;
  color : blueviolet;
}
.showModal{
  cursor: pointer;
}
.assList{
  font-size : 18px;
  margin-bottom:10px;
}
.professorName{
  text-align: center;
  margin-top: 1%;
  margin-left: 2%;
  font-size: 15px;
  font-weight: bold;
}

.logout{
  font-size: 13px;
  width : 10vw;
  height : 10vh;
  text-align: center;
  background-color: rgb(243, 243, 243);
  margin-left : 20px;
  overflow : "auto";
}
.search{
  margin-left : 1vw;
}
.CourseBt{
  margin: 0.7rem;
  padding: 0.5rem 0.5rem;
  width : 16vw;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  overflow:"auto";
}
.searchOption{
    width : 18vw;
    height : 5vh;
    margin : 10px;
}
.searchField{
    width : 25vw;
    height : 5vh;
}
.courseCount{
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
}
table.pageCount{
    margin : 20px auto 10px auto;
}
button.page-link{
    border : 0;
    outline : 0;
    background-color: white;
    text-align : center;
    color : #572c2c;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 3rem;
    margin : 5%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

button.page-link:hover{
    font-weight: bold;
    text-decoration: underline;
}

